@charset "UTF-8";

@font-face {
    font-family: 'Inter-Black';
    font-display: swap;
    src: url(../fonts/Inter-Black.ttf);
}

@font-face {
    font-family: 'Inter-Regular';
    font-display: swap;
    src: url(../fonts/Inter-Regular.ttf);
}

@font-face {
    font-family: 'Inter-ExtraBold';
    font-display: swap;
    src: url(../fonts/Inter-ExtraBold.ttf);
}

@font-face {
    font-family: 'Nunito-Regular';
    font-display: swap;
    src: url(../fonts/Nunito-Regular.ttf);
}

@font-face {
    font-family: 'Nunito-MediumItalic';
    font-display: swap;
    src: url(../fonts/Nunito-MediumItalic.ttf);
}

@font-face {
    font-family: 'Nunito-LightItalic';
    font-display: swap;
    src: url(../fonts/Nunito-LightItalic.ttf);
}

@font-face {
    font-family: 'JetBrainsMono-Medium';
    font-display: swap;
    src: url(../fonts/JetBrainsMono-Medium.ttf);
}

@font-face {
    font-family: 'Inter-Medium';
    font-display: swap;
    src: url(../fonts/Inter-Medium.ttf);
}

@font-face {
    font-family: 'Nunito-ExtraBold';
    font-display: swap;
    src: url(../fonts/Nunito-ExtraBold.ttf);
}

@font-face {
    font-family: 'Nunito-Bold';
    font-display: swap;
    src: url(../fonts/Nunito-Bold.ttf);
}

@font-face {
    font-family: 'Nunito-BoldItalic';
    font-display: swap;
    src: url(../fonts/Nunito-BoldItalic.ttf);
}

@font-face {
    font-family: 'Nunito-Medium';
    font-display: swap;
    src: url(../fonts/Nunito-Medium.ttf);
}

@font-face {
    font-family: 'Nunito-Light';
    font-display: swap;
    src: url(../fonts/Nunito-Light.ttf);
}

@font-face {
    font-family: 'Nunito-SemiBold';
    font-display: swap;
    src: url(../fonts/Nunito-SemiBold.ttf);
}

@font-face {
    font-family: 'Nunito-ExtraBoldItalic';
    font-display: swap;
    src: url(../fonts/Nunito-ExtraBoldItalic.ttf);
}

:root {
    --cor0: #000;
    --cor1: #fff;
    --cor2: #F5F5F5;
    --cor3: #EDC55D;
    --cor4: #7ED957;
    --cor5: #F3B926;
    --cor6: #D9D9D9;

    --fonte-padrão: 'Arial, Verdana, Helvetica, sans-serif';
    --fonte1: 'Inter-Black';
    --fonte2: 'Inter-Regular';
    --fonte3: 'Inter-ExtraBold';
    --fonte4: 'Nunito-Regular';
    --fonte6: 'Nunito-LightItalic';
    --fonte7: 'JetBrainsMono-Medium';
    --fonte8: 'Inter-Medium';
    --fonte9: 'Nunito-ExtraBold';
    --fonte10: 'Nunito-Bold';
    --fonte11: 'Nunito-BoldItalic';
    --fonte13: 'Nunito-Light';
    --fonte14: 'Nunito-SemiBold';
    --fonte15: 'Nunito-ExtraBoldItalic';
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    max-width: 1920px;
    /* max-width: 1366px;*/
    margin: auto;
    background-color: var(--cor2) !important;
}

::-webkit-scrollbar {
    display: none;
}

/*Depois conferir configurações globais. Me parece que todos os H's são #000 */

h1,
h2,
h3 {
    text-transform: uppercase;
}

p {
    color: var(--cor0);
}

ul {
    list-style: none;
}

/*Ver esse header para telas com largura superior a 1366px.1920px por exemplo*/

.header {
    background-image: url(../images/bg1-new.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 910px;
}

.header .container1 {
    margin: auto;
    padding: 300px 10px 0px 10px;
    width: 100%;
    max-width: 910px;
    display: flex;
}

.header .container1 .container2 {
    float: left;
}

.header .container1 .container2 h1 {
    font-family: var(--fonte1);
    font-size: 44px;
    color: var(--cor0);
    max-width: 100%;
    width: 560px;
    margin-bottom: 8px;
}

.header .container1 .container2 p {
    font-family: var(--fonte2);
    font-size: 13px;
    color: var(--cor0);
    max-width: 100%;
    width: 485px;
}

.header .container1 .container2 p span {
    font-family: var(--fonte3);
}

.header .container1 .container2 a {
    font-family: var(--fonte7);
    font-size: 16px;
    color: var(--cor0);
    background-color: var(--cor4);
    border-radius: 10px;
    border: none;
    text-transform: uppercase;
    display: block;
    margin-top: 10px;
    width: 100%;
    max-width: 360px;
    text-align: center;
    padding: 10px 0px;
}

.header .container1 .container2 a:hover {
    transform: translateY(-3px);
    transition: 0.4s;
}

.header .container1 h3 {
    font-family: var(--fonte6);
    font-size: 70px;
    color: var(--cor3);
    line-height: 80%;
    letter-spacing: -0.085em;
    opacity: 0.85;
    padding: 84px 0px 0px 91px;
}

.header p.pbottom {
    font-family: var(--fonte4);
    font-size: 20px;
    color: var(--cor1);
    text-align: center;
    padding: 250px 0px 0px 0px;
    text-transform: uppercase;
}

.bullet-menu {
    position: fixed;
    right: 40px;
    top: 300px;
}

.bullet-menu ul li {
    width: 12px;
    height: 12px;
    background-color: var(--cor1);
    border-radius: 50%;
    border: 1px solid var(--cor0);
    margin-bottom: 15px;
    cursor: pointer;
}

/* .bullet-menu ul li#section-one {
    background-color: var(--cor4);
} */

.bullet-menu ul li.active {
    background-color: var(--cor4);
}

.triangle {
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top: 0;
    border-top: 12px solid black;
    margin: auto;
}

.tourist-attractions {
    margin: auto;
    padding: 0px 10px;
    width: 100%;
    max-width: 910px;
}

.tourist-attractions p {
    font-family: var(--fonte8);
    font-size: 16px;
    line-height: 15px;
    width: 100%;
    margin-top: 50px;
}

.tourist-attractions h2 {
    font-family: var(--fonte4);
    font-size: 30px;
    line-height: 26px;
    text-align: center;
    width: 100%;
    max-width: 380px;
    margin: 174px auto 0px;
}

.tourist-attractions h2 span {
    font-family: var(--fonte9);
}

.tourist-attractions .images-top {
    margin-top: 20px;
}

.tourist-attractions .images-top .image1,
.tourist-attractions .images-top .image2,
.tourist-attractions .images-top .image3,
.tourist-attractions .images-top .image4 {
    width: 215px;
    height: auto;
}

.tourist-attractions .images-top .image2,
.tourist-attractions .images-top .image3 {
    display: block;
}

.tourist-attractions .images-top .image3 {
    margin: -272px 0px 0px 234px;
    width: 430px;
}

.tourist-attractions .images-top .image4 {
    width: 207px;
    margin: -273px 0px 0px 0px;
    float: right;
}

.tourist-attractions .contact {
    width: 100%;
    max-width: 910px;
    height: 300px;
    margin: 18px auto 0px;
    background: url(/images/bg8.png), linear-gradient(0deg, #F3B926 35.5%, #F6D00B 102.99%, rgba(247, 179, 8, 0) 103%);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}

.tourist-attractions .contact p {
    font-family: var(--fonte4);
    font-size: 27px;
    line-height: 28px;
    text-align: center;
    color: var(--cor0);
    width: 100%;
    max-width: 540px;
    margin: 0px auto 0px;
    padding-top: 50px;
}

.tourist-attractions .contact p span {
    font-family: var(--fonte10);
}

.tourist-attractions .contact form {
    margin: auto;
    text-align: center;
}

.tourist-attractions .contact form .nt-cadastro-nome,
.tourist-attractions .contact form .nt-cadastro-email {
    font-family: var(--fonte4);
    font-size: 16px;
    color: var(--cor0);
    width: 230px;
    height: 50px;
    border: none;
    border-radius: 10px;
    margin: 30px 6px 0px 0px;
    padding-left: 17px;
    outline: none;
    caret-color: var(--cor0);
    box-shadow: inset 0px 4px 4px rgb(0 0 0 / 25%);
}

.tourist-attractions .contact form .nt-btn {
    font-family: var(--fonte7);
    font-size: 16px;
    color: var(--cor0);
    background-color: var(--cor4);
    border-radius: 10px;
    border: none;
    text-transform: uppercase;
    display: block;
    margin: 45px auto 0px;
    width: 100%;
    max-width: 430px;
    text-align: center;
    padding: 10px 0px;
    cursor: pointer;
}

.tourist-attractions .contact form .nt-btn:hover {
    transform: translateY(-3px);
    transition: 0.4s;
}

.tourist-attractions .image5,
.tourist-attractions .image7 {
    width: 658px;
    height: auto;
    margin-top: 20px;
}

.tourist-attractions .image6 {
    width: 110px;
    margin: 0px 0px 82px -382px;
}

.tourist-attractions .image7 {
    width: 212px;
    float: right;
}

.tourist-attractions .fourp {
    margin-top: 56px;
}

.tourist-attractions .fourp p {
    font-family: var(--fonte2);
    font-size: 14px;
    color: var(--cor0);
    margin: 18px 0px;
}

.tourist-attractions .h2-style {
    background-color: var(--cor5);
    box-shadow: 0 0 0 78px rgb(243 185 38 / 20%);
    width: 260px;
    height: 260px;
    border-radius: 50%;
    margin: auto;
}

.tourist-attractions .h2-style .rj-h2 {
    font-family: var(--fonte11);
    font-size: 36px;
    color: var(--cor0);
    line-height: 100%;
    transform: rotate(-7.38deg);
    padding: 90px 40px 0px 0px;
}

.tourist-attractions .h2-style .rj-h2 span {
    font-family: var(--fonte11);
    margin-left: 32px;
}

.timeline {
    position: relative;
    min-height: 150px;
    overflow: hidden;
    padding-bottom: 200px;
}

.line {
    position: absolute;
    z-index: 2;
    left: calc(50% - 1px);
    width: 2px;
    top: -50px;
    bottom: -50px;
    background-color: rgba(217, 217, 217, 1);
    display: none;
}

.line:before,
.line::after {
    position: absolute;
    display: block;
    content: '';
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: var(--cor5);
    left: 50%;
    transform: translate(-50%);
}

.line::after {
    bottom: 0;
}

.section {
    display: flex;
    opacity: 0;
    transform: translateX(-100%);
    transition: 600ms ease;
    position: relative;
    z-index: 1;
    /* margin: 50px 0px; */
    padding: 1rem;
    border-radius: 1rem;
    align-items: center;
    min-height: 300px;
}

.section:nth-child(odd) {
    flex-direction: row-reverse;
    transform: translateX(100%);
}

.bead {
    position: absolute;
    display: block;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    /* border-color: #000; */
    background-color: var(--cor5);
    left: 50%;
    /* top: 20%; */
    transform: translateX(-50%);
}

.content {
    width: calc(50% - 2rem);
}

.show-me:nth-child(n) {
    transform: none;
    opacity: 1;
}

.content h2 {
    font-family: var(--fonte11);
    font-size: 36px;
    color: var(--cor0);
    line-height: 100%;
}

.content p {
    font-family: var(--fonte2);
    font-size: 20px;
    color: var(--cor0);
    line-height: 20px;
    width: 400px;
    text-align: justify;
    margin-top: 20px;
}

.tourist-attractions a {
    font-family: var(--fonte7);
    font-size: 16px;
    color: var(--cor0);
    background-color: var(--cor4);
    border-radius: 10px;
    border: none;
    text-transform: uppercase;
    display: block;
    margin: 0px auto 0px;
    width: 100%;
    max-width: 430px;
    text-align: center;
    padding: 10px 0px;
    cursor: pointer;
}

.tourist-attractions a:hover {
    transform: translateY(-3px);
    transition: 0.4s;
}

.comments {
    width: 100%;
    max-width: 910px;
    margin: 150px auto 0px;
    padding: 0px 10px;
    text-align: center;
}

.comments h2 {
    font-family: var(--fonte13);
    font-size: 30px;
    color: var(--cor0);
    font-style: normal;
    line-height: 30px;
    width: 100%;
    max-width: 420px;
    margin: auto;
}

.comments h2 span {
    font-family: var(--fonte4);
}

.comments p {
    font-family: var(--fonte2);
    font-size: 20px;
    color: var(--cor0);
    margin: 20px auto 0px;
}

.comments .boxes2 {
    width: 100%;
    max-width: 910px;
    text-align: left;
    margin: 85px auto 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.comments .boxes2 .box-content1,
.comments .boxes2 .box-content2,
.comments .boxes2 .box-content3,
.comments .boxes2 .box-content4,
.comments .boxes2 .box-content5,
.comments .boxes2 .box-content6 {
    width: 100%;
    max-width: 290px;
    height: auto;
    background-color: var(--cor1);
    border-radius: 10px;
    box-shadow: 4px 6px 19px 2px rgba(0, 0, 0, 0.25);
}

.comments .boxes2 .box-content4,
.comments .boxes2 .box-content5,
.comments .boxes2 .box-content6 {
    margin-top: 70px;
}

.comments .boxes2 .box-content1 .img1,
.comments .boxes2 .box-content2 .img1,
.comments .boxes2 .box-content3 .img1,
.comments .boxes2 .box-content4 .img1,
.comments .boxes2 .box-content5 .img1,
.comments .boxes2 .box-content6 .img1 {
    /* border: 3px solid var(--cor5); */
    border-radius: 50%;
    width: 70px;
    height: auto;
    margin: -35px 0px 0px 160px;
}

.comments .boxes2 .box-content1 .item1,
.comments .boxes2 .box-content2 .item1,
.comments .boxes2 .box-content3 .item1,
.comments .boxes2 .box-content4 .item1,
.comments .boxes2 .box-content5 .item1,
.comments .boxes2 .box-content6 .item1 {
    padding: 20px 20px 30px 20px;
}

.comments .boxes2 .box-content1 .item1 h3,
.comments .boxes2 .box-content2 .item1 h3,
.comments .boxes2 .box-content3 .item1 h3,
.comments .boxes2 .box-content4 .item1 h3,
.comments .boxes2 .box-content5 .item1 h3,
.comments .boxes2 .box-content6 .item1 h3 {
    font-family: var(--fonte14);
    font-size: 20px;
    color: var(--cor0);
}

.comments .boxes2 .box-content1 .item1 p,
.comments .boxes2 .box-content2 .item1 p,
.comments .boxes2 .box-content3 .item1 p,
.comments .boxes2 .box-content4 .item1 p,
.comments .boxes2 .box-content5 .item1 p,
.comments .boxes2 .box-content6 .item1 p {
    font-family: var(--fonte2);
    font-size: 16px;
    color: var(--cor0);
    margin-top: 10px;
}

.faq {
    background-image: url(../images/bg2.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    margin: 150px auto 0px;
}

.faq h2 {
    font-family: var(--fonte15);
    font-size: 128px;
    color: var(--cor6);
    line-height: 100px;
    text-align: center;
    overflow: hidden;
    height: 170px;
}

.faq .container3 {
    width: 100%;
    max-width: 910px;
    padding: 0px 10px;
    margin: auto;
}

.faq .container3 ul li {
    padding: 40px;
    background: var(--cor1);
    box-shadow: 79px 116px 56px rgb(0 0 0 / 1%), 44px 66px 47px rgb(0 0 0 / 5%), 20px 29px 35px rgb(0 0 0 / 9%), 5px 7px 19px rgb(0 0 0 / 10%), 0px 0px 0px rgb(0 0 0 / 10%);
    border-radius: 10px;
    margin-top: 0px;
    margin-bottom: 20px;
}

.faq .container3 ul li:hover {
    cursor: pointer;
}

.faq .container3 ul h3 {
    font-family: var(--fonte4);
    font-size: 16px;
    color: var(--cor0);
}

.faq .container3 ul p {
    font-family: var(--fonte4);
    font-size: 15px;
    color: var(--cor0);
    margin-top: 20px;
    display: none;
    transition-duration: 10s;
}

.faq .container3 ul p.active {
    font-family: var(--fonte4);
    font-size: 15px;
    color: var(--cor0);
    margin-top: 20px;
}

.accordion__answer {
    display: none;
}

.accordion.active .accordion__answer {
    display: block;
}

.faq .container3 a {
    font-family: var(--fonte7);
    font-size: 16px;
    color: var(--cor0);
    background-color: var(--cor4);
    border-radius: 10px;
    border: none;
    text-transform: uppercase;
    display: block;
    margin: 45px auto 0px;
    width: 100%;
    max-width: 430px;
    text-align: center;
    padding: 10px 0px;
    cursor: pointer;
}

.faq .container3 a:hover {
    transform: translateY(-3px);
    transition: 0.4s;
}

.faq p.footer-felipe {
    font-family: var(--fonte4);
    font-size: 16px;
    color: var(--cor1);
    text-align: center;
    padding: 400px 0px 10px 0px;
}

footer {
    background-color: var(--cor0);
    height: 100%;
    padding: 5px;
}

footer p {
    font-family: var(--fonte2);
    font-size: 14px;
    color: var(--cor4);
    text-align: center;
}

footer a:hover {
    color: var(--cor8);
}

@media(max-width: 539px) {
    footer {
        font-size: 10px;
    }
}